body {
  margin : 0;
}
h1 {
  margin-top: 0;
  padding-top: 0;
  padding bottom: 20px;
  text-align: center;
  font-size: 72px;
  color: #fff;
  background-color: #281B2D;
}
.subhead {
  font-size: 48px;
  color: #FCD801;
  background-color: #281B2D;
  border-bottom: 5px solid #00C54C;
}

.container {
  width: 1000px;
  height: 1000px;
  align-self: center;
  }
.main-content{
  width: 650px;
  height: 1000px;
  margin-right: 8px;
  float: left;
}

.sidebar{
  width: 300px;
  height: 1000px;
  float: right;
  margin-left: 8px;
}
.white-text{
  color: #fff;
}
.col-left{
 position: absolute;
 left: auto;
  width: 400px;
  height:1000px;
  margin-right: 9px;
}

.col-right {
position: absolute;
left: 409px;
width: 250px;
height: 1000px;
}


